* {
	font-family: 'Roboto', sans-serif;
}

header {
	height: 100vh;
	background: $lightColor;
	position: fixed;
}

// main, footer{
//     width: 100vw;
// }

#app {
	// display: flex;
	// position: relative;
}

.bg-secondary {
	background-color: $secondaryColor;
}

.bg-white {
	background-color: $whiteColor;
}

.bg-gray {
	background-color: $grayColor;
}

.bg-light {
	background-color: $lightColor;
}

.text-primary {
	color: $primaryColor;
}

.text-white {
	color: $whiteColor;
}

.text-light {
	color: $lightColor;
}

.text-dark {
	color: $darkColor;
}

.container {
	margin: 0 15%;
}

.grid {
	display: grid;
}

.column-2 {
	grid-template-columns: auto auto;
}

.mb-1 {
	margin-bottom: 1em;
}

.mb-2 {
	margin-bottom: 2em;
}

.mt-2 {
	margin-top: 2em;
}

.py-4 {
	padding: 4em 0;
}

.pb-2 {
	padding-bottom: 2em;
}

.pb-4 {
	padding-bottom: 4em;
}
