header {
	height: 100vh;
	background: $lightColor;
	position: fixed;
}

.header-nav {
	height: 100%;
	position: relative;

	.header-nav-top {
		.nav-welcome {
			background: $primaryColor;
			display: flex;
			justify-content: flex-end;

			svg {
				fill: $yellowColor;
				height: 16px;
				width: 16px;
				// transform: rotate(-180deg);
				padding: 2px 0;
				cursor: pointer;

				&:hover {
					background: $secondaryColor;
				}
			}

			.welcome-text {
				color: $yellowColor;
				width: calc(100% - 16px);
				font-size: 12px;
				font-weight: 400;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 2px 0;
			}
		}

		.nav-logo {
			background: $whiteColor;
			padding: 40px 60px;

			img {
				height: 64px;
				width: 64px;
			}

			.nav-logo-title {
				font-family: 'Masque';
				font-size: 1.75em;
			}
		}

		.nav-list {
			margin-top: 60px;

			.nav-item {
				display: flex;
				align-items: center;
				padding: 15px 60px;
				cursor: pointer;

				svg {
					fill: $darkColor;
					height: 20px;
					width: 20px;
				}

				.item-text {
					margin-left: 20px;
					color: $darkColor;

					a {
						font-size: 14px;
						font-weight: 700;
						color: $darkColor;
					}

					.item-text-line {
						margin-left: 20px;
						font-size: 14px;
						font-weight: 700;
					}
				}

				&.active {
					svg {
						fill: $primaryColor;
					}

					.item-text {
						color: $primaryColor;

						a {
							color: $primaryColor;
						}
					}
				}

				&:hover {
					svg {
						fill: $primaryColor;
					}

					.item-text {
						color: $primaryColor;

						a {
							color: $primaryColor;
						}
					}
				}
			}
		}
	}

	.header-nav-bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		.nav-social-list {
			display: flex;
			border-top: 1px solid $darkColor;
			justify-content: center;
			padding: 20px 0;

			.social-item {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 30px;
				cursor: pointer;

				svg {
					fill: $darkColor;
					height: 16px;
					width: 16px;
				}

				&:hover {
					svg {
						fill: $primaryColor;
					}
				}
			}
		}
	}

	&.show{
		width: 100px;

		.nav-welcome {
			svg {
				transform: rotate(-180deg);
			}

			.welcome-text {
				visibility: hidden;
				width: 0;
			}
		}

		.nav-logo {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 40px 0px;

			.nav-logo-title {
				visibility: hidden;
				width: 0;
			}
		}

		.nav-list {
			.nav-item {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px 20px;

				.item-text {
					visibility: hidden;
					width: 0;
					margin: 0;
				}
			}
		}

		.nav-social-list {
			display: block;
			padding: 0;

			.social-item {
				margin: 10px 0;
			}
		}
	}
}
